@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

.sora-thin {
  font-family: "Sora", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sora-extralight {
  font-family: "Sora", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.sora-light {
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sora-regular {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sora-medium {
  font-family: "Sora", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sora-semibold {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sora-bold {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sora-extrabold {
  font-family: "Sora", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sora-black {
  font-family: "Sora", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sora-thin-italic {
  font-family: "Sora", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.sora-extralight-italic {
  font-family: "Sora", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.sora-light-italic {
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sora-regular-italic {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sora-medium-italic {
  font-family: "Sora", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.sora-semibold-italic {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.sora-bold-italic {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sora-extrabold-italic {
  font-family: "Sora", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.sora-black-italic {
  font-family: "Sora", sans-serif;
  font-weight: 900;
  font-style: italic;
}
